<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h1>Welcome</h1>
    <p class="">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p>
      <a class="btn btn-primary" href="" role="button">click to enter »</a>
    </p>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    Cras justo odio
    <span class="badge badge-default badge-pill">10h</span>
  </li>
  <li class="list-group-item justify-content-between">
    Dapibus ac facilisis in
    <span class="badge badge-default badge-pill">2h</span>
  </li>
  <li class="list-group-item justify-content-between">
    Morbi leo risus
    <span class="badge badge-default badge-pill">1h</span>
  </li>
</ul>